/*
 
 Table cells 10 and 11 show the epoch time for the session logon time.
 These values are passed to the next dashboard to narrow the scope of time and
 do not make sense to show on the dashboard since it is just a number rather than
 a human-readable date.
 
*/

table th:nth-child(10) {
    display: none;
}

table td:nth-child(10) {
    display: none;
}

table th:nth-child(11) {
    display: none;
}

table td:nth-child(11) {
    display: none;
}